<!DOCTYPE html>
<html lang="pt"
>
<head>
    <form action="http://192.168.0.9:5000/resultado_classificacao.html" method="post">

    </form>
    <meta charset="UTF-8">
    <title>Etiquetagem de edificações residenciais - INI-R</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      
      body {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      
      input, select {
        width: 100%;
        box-sizing: border-box;
        margin-left: 1vw;
      }

      .warning-div {
        color: #ff0c05;
        margin-left: 2vw;
        display: none; 
      }

      #app-input, #uh-btn {
        display: none;
        align-content: center;
        flex-direction: column;
        margin-top: 2vh;
      }

      #btn_calcular {
        text-align: center;
        width: 100%;
        margin-top: 1vh;
        margin-bottom: 3vh;
      }

    </style>
</head>
<body>

	<div style="margin-left:10px;margin-bottom: 3vh;width:100%;">
		<img src="../static/img/pbe_logo.png" width="346" height="111" style="float:left;text-align: center;margin-left: 20vw;">
		<span style="margin-right: 10px;margin-top: 15px;text-align: center;float:left;margin-left: 10vw;">
      <span style="font-size: 20px;color:#6E6E6E;">Edificações Residenciais</span><br>
        Etiquetagem de Edificações residenciais - informações complementares<br>

		</span>
	  </div>

    <!-- <h1>Interface do metamodelo da INI-R</h1>

    <h3>Entradas da unidade habitacional (UH)</h3> -->
    <div>
    <table style="margin-bottom: 4vh;">
    <tr>
        <th>Tipo de sistema de aquecimento de água da edificação<span id="exposicao_piso_question" style="float:right;margin-left:1vw;" title="Deve-se informar se o sistema de aquecimento de água é com ou sem acumulação" ><i class="fa fa-question-circle" style="font-size:18px;"></i></span></th>
        <td>
            <select name="sistema_aq" id="sistema_aq">
                <option value="com_acumulacao">Com acumulação</option>
                <option value="sem_acumulacao">Sem acumulação</option>
            </select>
        
        </td>
        
        </tr>  
      <tr>
        <th>Consumo de água quente por fontes elétricas na condição real [kWh] <span id="aq_real_eletrica_question" style="float:right;margin-left:1vw;" title = "Insira o consumo de água quente por fontes ELÉTRICAS na condição real (kWh/ano). Se não houver consumo por fontes elétricas, insira o valor 0" ><i class="fa fa-question-circle" style="font-size:18px;"></i></span></th>
        <td>
          <input type="number" name="aq_real_eletrica" id="aq_real_eletrica"></input>
        </td>
      </tr>
      <tr>
        <th>Consumo de água quente por fontes térmicas na condição real [kWh] <span id="aq_real_termica_question" style="float:right;margin-left:1vw;" title = "Insira o consumo de água quente por fontes TÉRMICAS na condição real (kWh/ano). Se não houver consumo por fontes térmicas, insira o valor 0" ><i class="fa fa-question-circle" style="font-size:18px;"></i></span></th>
        <td>
          <input type="number" name="aq_real_termica" id="aq_real_termica"></input>
        </td>
      </tr>
      <tr>
        <th>Consumo de água quente na condição de referência [kWh] <span id="aq_ref_question" style="float:right;margin-left:1vw;" title = "Insira o consumo de água quente na condição de referência (kWh/ano). Ressalta-se que na condição de referência existe aquecimento de água apenas por fontes elétricas" ><i class="fa fa-question-circle" style="font-size:18px;"></i></span></th>
        <td>
          <input type="number" name="aq_ref" id="aq_ref"></input>
        </td>
      </tr>
      <tr>
        <th>Geração de energia renovável na condição real [kWh] <span id="geracao_question" style="float:right;margin-left:1vw;" title = "Insira a geração de energia renovável na condição real (kWh/ano). Ressalta-se que na condição de referência não é contabilizada geração de energia renovável" ><i class="fa fa-question-circle" style="font-size:18px;"></i></span></th>
        <td>
          <input type="number" name="geracao" id="geracao"></input>
        </td>
    </tr>
      </div>

    <table>
      <div class="row justify-content-start" style="padding-top:10px;">
        <div class="col" style="padding-top:10px;">
          <a class="btn btn-primary" href="/interface"><span class="submit"> Voltar para a interface do metamodelo</span></a>
          <a class="btn btn-primary" href="/resultado_interface" onclick = "avanca()"><span class="submit">Avançar para a classificação</span></a>      
        </div>
      </div>
    </table>
</body>
<script>
  c_resf = localStorage.CRESF_real;
  c_aqueci = localStorage.CAQUE_real;
  consumo_condicionamento = parseFloat(c_resf) + parseFloat(c_aqueci)
  CgTR_ =  localStorage.Carga_resf_real;
  CgTA_ = localStorage.Carga_aq_real;
  carga_real = parseFloat(CgTR_) + parseFloat(CgTA_)
  CgTR_ref = localStorage.Carga_resf_ref; 
  CgTA_ref = localStorage.Carga_aq_ref;
  carga_ref = parseFloat(CgTR_ref) + parseFloat(CgTA_ref)
  PHFT_ = localStorage.PHFT_real;
  PHFT_ref = localStorage.PHFT_ref;
  TOMax = localStorage.TOMax;
  TOMax_ref = localStorage.TOMax_ref;
  TOMin = localStorage.TOMin;
  TOMin_ref = localStorage.TOMin_ref;
  contador_quartos = localStorage.quartos;
  tipologia = localStorage.tipologia;
  area_cond = localStorage.area_cond ;
  cond_cob = localStorage.cond_cob;
  cond_piso = localStorage.cond_piso;
  zona_bioclimatica = localStorage.zona_bioclimatica;


  function classificacao(PHFT_real, PHFT_ref, CgTT_real, CgTT_ref, TOmax_real, TOmax_ref, TOmin_real, TOmin_ref,
    area_condicionada, tipologia, exposicao_cob, contato_solo, zona_bioclimatica) {
    if (tipologia == "unifamiliar" || (tipologia == "multifamiliar" && exposicao_cob == "sol"))
    {
        deltaTOMAX = 2
    } 
    else {
        deltaTOMAX = 1
    }

    if (zona_bioclimatica <= 4){
    deltaTOMIN = 1
    } 
    else {
    deltaTOMIN = 100
    }


    calc_deltaTOMIN = TOmin_ref - TOmin_real
    calc_deltaTOMAX = TOmax_real - TOmax_ref

    if ((PHFT_real >= 0.9 * PHFT_ref) && (calc_deltaTOMAX <= deltaTOMAX) && (calc_deltaTOMIN <= deltaTOMIN))
    {
        minimo = 1
                   }
    else {
        minimo = 0
    }

    if (PHFT_ref >= 70){
        PHFT_70 = 1 
    }
    else{
        PHFT_70 = 0
    }

    if (CgTT_ref / area_condicionada >= 100) {
        condicao_area_100 = 1
    } 
    else{
        condicao_area_100 = 0
    }
    
    if (PHFT_70 == 0){
        red_carga_intermediario = 0
        if (tipologia == "unifamiliar"){
            delta_PHFT = 45 - 0.58 * PHFT_ref
        }
        
        else if (tipologia == "multifamiliar"){
            if (exposicao_cob == "sol"){
            delta_PHFT = 18 - 0.18 * PHFT_ref
        }
            else if (exposicao_cob == "pav")
            {
                if (contato_solo == "solo"){
                delta_PHFT = 22 - 0.21 * PHFT_ref
                }
                else if (contato_solo == "pav")
                delta_PHFT = 28 - 0.27 * PHFT_ref
            }
            }
            
        }
        
    else if (PHFT_70 == 1){
        delta_PHFT = 0
        if (condicao_area_100 == 0){
            if (tipologia == "unifamiliar"){
                red_carga_intermediario = 17
            }
            else if (tipologia == "multifamiliar"){
                if (exposicao_cob == "sol"){
                    red_carga_intermediario = 15
                }
                else if (exposicao_cob == "pav"){
                    if (contato_solo == "solo"){
                        red_carga_intermediario = 15
                    }
                    else if (contato_solo == "pav"){
                        red_carga_intermediario = 22
                    }
                }
            }
        }
        else if (condicao_area_100 == 1){
            if (tipologia == "unifamiliar"){
                red_carga_intermediario = 27
            }
            else if (tipologia == "multifamiliar"){
                if (exposicao_cob == "sol"){
                    red_carga_intermediario = 20
                }
                else if (exposicao_cob == "pav"){
                    if (contato_solo == "solo"){
                        red_carga_intermediario = 20
                    }
                    else if (contato_solo == "pav"){
                        red_carga_intermediario = 25
                    }
                }
            }
        }
    }
    calc_delta_PHFT = PHFT_real - PHFT_ref
    calc_red_carga = (1 - (CgTT_real / CgTT_ref)) * 100
    
    if(minimo == 1 && calc_delta_PHFT >= delta_PHFT && calc_red_carga >= red_carga_intermediario) {
        intermediario = 1
    }
    else {
        intermediario = 0
    }

    if (condicao_area_100 == 0){
        if (tipologia == "unifamiliar"){
            red_carga_superior = 35
            red_carga_d = -17
        }
        else if (tipologia == "multifamiliar"){
            if (exposicao_cob == "sol"){
                red_carga_superior = 30
                red_carga_d = -15
            }
            else if (exposicao_cob == "pav"){
                if (contato_solo == "solo"){
                    red_carga_superior = 30
                    red_carga_d = -15
                }
                else if (contato_solo == "pav"){
                    red_carga_superior = 45
                    red_carga_d = -22
                }
            }
        }
    }
    else if (condicao_area_100 == 1){
        if (tipologia == "unifamiliar"){
            red_carga_superior = 55
            red_carga_d = -27
        }
        else if (tipologia == "multifamiliar"){
            if (exposicao_cob == "sol"){
                red_carga_superior = 40
                red_carga_d = -20
            }
            else if (exposicao_cob == "pav"){
                if (contato_solo == "solo"){
                    red_carga_superior = 40
                    red_carga_d = -20
                }
                else if (contato_solo == "pav"){
                    red_carga_superior = 50
                    red_carga_d = -20
                }
            }
        }
    }

    if (minimo == 1 && calc_delta_PHFT >= delta_PHFT && calc_red_carga >= red_carga_superior){
        superior = 1 
    } 
    else {
        superior =  0
    }

    if (minimo == 1 && (0 > calc_red_carga >= red_carga_d)){
        minimo_d = 1 
    } else {
        minimo_d = 0
    }

    if (superior == 1){
        desempenho = "superior"
    }
    
    else if (superior == 0 && intermediario == 1){
        desempenho = "intermediário"
    }
    
    else if (superior == 0 && intermediario == 0 && minimo == 1) {
        desempenho = "minimo"
    }
    
    else if (minimo_d == 1){
        desempenho = "mínimo para condições D"
    }
    else if (minimo == 0){
        desempenho = "Não atende aos requisitos mínimos da NBR 15575-1"
    }
return desempenho
}

resultado_envoltoria = classificacao(PHFT_,PHFT_ref,carga_real, carga_ref , TOMax, TOMax_ref, TOMin, TOMin_ref, area_cond, tipologia, cond_cob, cond_piso, zona_bioclimatica)
console.log(resultado_envoltoria)

localStorage.resultado_envoltoria = resultado_envoltoria;

function avanca(){
  aq_real_eletrica = document.getElementById('aq_real_eletrica').value;
  aq_real_termica = document.getElementById('aq_real_termica').value;
  aq_ref = document.getElementById('aq_ref').value;
  geracao = document.getElementById('geracao').value;
  sistema_aq = document.getElementById('sistema_aq').value;
  localStorage.tipo_aq = sistema_aq;
  localStorage.aq_real_eletrica = aq_real_eletrica;
  localStorage.aq_real_termica = aq_real_termica;
  localStorage.aq_ref = aq_ref;
  localStorage.geracao = geracao;
}




</script>
</html>